* {
    box-sizing: inherit;
}

/*------------------------------------*\
    #PAGE
\*------------------------------------*/

.page {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Helvetica', 'Tahoma', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.page__content {
    max-width: 50%;
    margin: 0 auto;
}

.page__log {
    display: flex;
    max-width: 40%;
    margin: 0 auto;
}

/*------------------------------------*\
    #SAGGEST
\*------------------------------------*/

.saggest {
    position: relative;
}

.saggest__input {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font: inherit;
}

.saggest__list {
    position: absolute;
    top: 100%;
    display: none;
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
}

.saggest__list--plain {
    left: 0;
}

.saggest__list--clusters {
    right: 0;
}

.saggest__input:focus ~ .saggest__list,
.saggest__input:hover ~ .saggest__list {
    display: block;
}

.saggest__list li {
    padding: 5px 10px;
}

/*------------------------------------*\
    #LOG
\*------------------------------------*/

.log {
    margin: 30px auto;
    background-color: lightgrey;
}

.log__column {
    border: 2px solid #ffffff;
}

.log h2,
.log h3 {
    width: 100%;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-bottom: 2px solid grey;
}

.log__list {
    min-width: 140px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: right;
    list-style: none;
}

.log__list--emitter {
    min-width: 400px;
}

.log__list li {
    padding: 3px 5px;
    font-size: 12px;
    border-bottom: 1px solid grey;
}

.log__list--emitter li {
    text-align: left;
}

/*------------------------------------*\
    #GENERATOR
\*------------------------------------*/

.generator {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.generator__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.generator__button {
    display: block;
    width: 30%;
    font: inherit;
    cursor: pointer;
}

.generator__button--event {
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

.generator__button--handler {
    padding: 5px 0;
    font-size: 14px;
}

.generator__button--offhandler {
    width: 47.5%;
}

.generator label {
    display: flex;
    align-items: center;
    width: 47.5%;
}

.generator__input {
    flex-grow: 1;
    align-self: stretch;
    width: 30px;
    margin-left: 5px;
    padding: 0 5px;
    font: inherit;
    text-align: center;
    min-width: 30px;
}
